<div id="reviews">
  <h6 class="product-section-title"><%= I18n.t("spree.reviews") %></h6>
  <% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @product.reviews.approved.count == 0 %>
    <p class="reviews-none"><%= I18n.t("spree.no_reviews_available") %></p>
  <% else %>
    <%= render 'products/shared/rating', product: @product, review: 0 %>
    <% for review in (Spree::Reviews::Config[:track_locale] ? @product.reviews.localized(I18n.locale) : @product.reviews).default_approval_filter.preview %>
      <%= render 'products/shared/review', review: review %>
      <%= render 'products/shared/thumbs', review: review, product: @product %>
    <% end %>
  <% end %>
  <% if !Spree::Reviews::Config[:require_login] || spree_current_user %>
    <br>
    <%= link_to I18n.t("spree.write_your_own_review"), new_product_review_path(@product), class: "w-fit py-3 px-7 rounded-full text-body-sm font-sans-md tracking-wider leading-none uppercase whitespace-nowrap transition-colors duration-200 bg-red-500 text-white hover:bg-red-700 false false ",
                rel: 'nofollow' %>
  <% end %>
</div>
